
body{
    font-size: 120%;
    background-color: black;
    color: white;
}


.container, .result-area, .about-area{
    border: 1px solid black;
    width: 60%;
    margin: 10px auto;
}

.container{
    padding-top: 360px;
    text-align: center;
}

.result-area{
    text-align: center;
}

.about{
    text-align: center;
    padding-top: 160px;
}

.about-text{
    padding-top: 100px;
}
.title{
    font-size: 64px;
    font-weight: bold;
}



.result-area{
    height: 100px;
}






@media (max-width: 600px){
    body{
        font-size: 105%;
    }
  
    .container, .result-area, .about-area{
        width: 92%;
        border: 1px solid black;
        /* margin-top: 10px; */
        margin: 10px auto;
    }
    .container{
        padding-top: 50%;
    }
    .result-area{
        font-size: 85%;
    }
    .title{
        font-size: 60px;
    }
}