body{
    font-size: 120%;
    background-color: black;
    /* background-color: black; */
    color: white;
    
    
}

.container{
    /* border: 1px solid black; */
    width: 75%;
    position: relative;
    margin-top: 19%
    
}
.title{
    font-size: 64px;
    font-weight: bold;
}
.input-area{
    /* border: 1px solid red; */
    text-align: center;
}

.result-area{
    /* border: 1px solid gray; */
    text-align: center;
    
}

.about-area{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 450px
    
    
}
.about{
    /* border: 1px yellow solid; */
    text-align: center;
    top: 50%;
}
.about-text{
    /* border: 1px solid red; */
    padding: 2em;
    
}
.CU{
    margin-left: 36px;
    text-align: left;
}